.supui-menu {
    outline: none;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    display: flex;
    position: relative;

    &.supui-menu-horizontal {
        background-color: $gray-100;
        border: none;
        border-bottom: 1px solid $gray-200;
        box-shadow: 0 0 4px $gray-300;
        white-space: nowrap;

        .supui-menu-item {
            display: inline-block;
            padding: 10px 16px;
            border-bottom: 2px solid transparent;
            vertical-align: bottom;
            user-select: none;

            &.supui-menu-item-active {
                border-bottom: 2px solid $cyan;
                background-color: $gray-200;
                color: $cyan;
                cursor: pointer;
            }

            &.supui-menu-item-disable {
                color: rgba($gray-600, 0.8);
                cursor: default;
            }

            &.supui-menu-item-selected {
                border-bottom: 2px solid $cyan;
                background-color: rgba($cyan, 0.1);
                color: $cyan;
                cursor: pointer;
            }
        }

        .supui-submenu-item {
            display: inline-block;
            padding: 10px 16px;
            border-bottom: 2px solid transparent;
            vertical-align: bottom;
            position: relative;
            box-sizing: border-box;


            &.supui-submenu-item-disable {
                color: rgba($gray-600, 0.8);
                cursor: default;
            }

            &.supui-submenu-item-active {

                border-bottom: 2px solid $cyan;
                background-color: $gray-200;
                color: $cyan;
                cursor: pointer;
            }

            &.supui-submenu-item-selected {
                border-bottom: 2px solid $cyan;
                background-color: rgba($cyan, 0.1);
                color: $cyan;
                cursor: pointer;
            }


            .supui-subitem-title {
                white-space: nowrap;
                user-select: none;
            }

        }

        .supui-submenu {
            position: absolute;
            top: calc(100% + 8px);
            left: 0px;
            width: 160px;
            outline: none;
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            list-style: none;
            z-index: 100;
            background-color: $gray-100;
            border: none;
            border-bottom: 1px solid $gray-200;
            box-shadow: 0 0 4px $gray-300;
            color:$gray-900;
            display: none;

            &.supui-submenu-open{
                display: block;
            }


            .supui-menu-item {
                display: block;
            }
        }

    }


}